<!-- 
<ul class="list-group">
    <li *ngFor="let a of airlines; let i = index">
      <a *ngIf="i + 1 === airlines.length" #theLastList routerLink="person/{{ a.id }}">
        <img src="{{a.imageUrl}}" />
        <span>
          <p>
            <span>Airline</span>: {{ a.name }}
          </p>
          <p><span>Name</span>: {{ a.name }}</p>
        </span>
      </a>
      <a *ngIf="i + 1 != airlines.length" routerLink="person/{{ a.id }}">
        <img src="{{a.imageUrl}}" />
        <span>
          <p>
            <span>Airline</span>: {{ a.name }}
          </p>
          <p><span>Name</span>: {{ a.name }}</p>
        </span>
      </a>
    </li>
</ul> -->

<div class="contain">
  <div class="box" *ngFor="let person of persons; let i = index">
    <div class="innerbox" *ngIf="i + 1 === persons.length" #theLastList routerLink="person/{{ person.id }}">
      <img src="{{person.imageUrl}}" alt="">
      <div class="text">
        <strong>{{person.prefix}} {{person.name}} {{person.lastName}}</strong>
        <p>{{person.title}}</p>
      </div>
    </div>

    <div class="innerbox" *ngIf="i + 1 != persons.length" routerLink="person/{{ person.id }}">
      <img src="{{person.imageUrl}}" alt="">
      <div class="text">
        <strong>{{person.prefix}} {{person.name}} {{person.lastName}}</strong>
        <p>{{person.title}}</p>
      </div>
    </div>
  </div>
</div>



  
  <!-- <div class="box" *ngIf="i + 1 === airlines.length" #theLastList routerLink="person/{{ a.id }}">
    <div class="innerbox" id="work">
      <img src="{{a.imageUrl}}" alt="">
      <div class="text">
        <strong>{{a.prefix}} {{a.name}} {{a.lastName}}</strong>
        <p>{{a.title}}</p>
      </div>
    </div>
  </div>
  <div class="box" *ngIf="i + 1 != airlines.length" routerLink="person/{{ a.id }}">
    <div class="innerbox" id="work">
      <img src="{{a.imageUrl}}" alt="">
      <div class="text">
        <strong>{{a.prefix}} {{a.name}} {{a.lastName}}</strong>
        <p>{{a.title}}</p>
      </div>
    </div>
  </div> -->



<!-- 

<div class="contain" *ngFor="let a of airlines; let i = index">
    <div *ngIf="i + 1 === airlines.length" #theLastList>
        <div class="box" *ngFor="let item of airlines">
            <div class="innerbox" id="work">
            <img id='pls' src="{{a.imageUrl}}" alt=""><br>
            <div class="text">
            <strong>{{a.prefix}} {{a.name}} {{a.lastName}}</strong>
            <p>{{a.title}}</p>
        </div>
     
            </div>
         </div>
    </div>
    <div *ngIf="i + 1 != airlines.length">
        <div class="box" *ngFor="let item of airlines">
            <div class="innerbox" id="work">
     
         <img id='pls' src="{{a.imageUrl}}" alt=""><br>
         <div class="text">
         <strong>{{a.prefix}} {{a.name}} {{a.lastName}}</strong>
         <p>{{a.title}}</p>
        </div>
     
            </div>
         </div>
    </div>
</div> -->