<div class="contain">
  <div class="box" *ngFor="let person of persons; let i = index">
    <div class="innerbox" *ngIf="i + 1 === persons.length" #theLastList routerLink="person/{{ person.id }}">
      <img src="{{person.imageUrl}}" alt="">
      <div class="text">
        <strong>{{person.prefix}} {{person.name}} {{person.lastName}}</strong>
        <p>{{person.title}}</p>
      </div>
    </div>

    <div class="innerbox" *ngIf="i + 1 != persons.length" routerLink="person/{{ person.id }}">
      <img src="{{person.imageUrl}}" alt="">
      <div class="text">
        <strong>{{person.prefix}} {{person.name}} {{person.lastName}}</strong>
        <p>{{person.title}}</p>
      </div>
    </div>
  </div>
</div>