.person-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.photo{
    width: 60%;
}

.person{
    display: flex;
    flex-wrap: wrap;
}

.about{
    width: 70%;
}

.location{
    width: 20%;
}

.person-box img{
    width: 100%;
}